<h1><%= pluralize @movies.count, "Movie" %></h1>
<% @movies.each do |movie| %>
<article class="movie">
		<header>
			<p><%= link_to image_for(movie), movie_path(movie) %></p>
		</header>	
	<ul>

		<div class="movie-info">
		<li><h1><%= link_to movie.title, movie_path(movie) %></h1></li>
		<li><p><%= movie.rating %></p></li>
		<li><p><%= movie.description %></p></li>
		<li><p><%= format_total_gross(movie) %></p></li>
		<li><p><%= movie.released_on %></p></li>
		<li><p><%= movie.cast %></p></li>
		<li><p><%= movie.duration %></p></li>
		<% if movie.reviews.count >= 1 %>
			<li><p><%= link_to "#{movie.reviews.count} Reviews", movie_reviews_path(movie.id) %></p></li>
			<% else %>
			<li><p><%= link_to "Write the first review!", movie_reviews_path(movie.id) %></p></li>
		<% end %>
		</div>
		<br>
	</ul>
</article>		
<% end %>