<article class="movie-show">
	<ul>
		<span class="show-page-image"> <%= image_for(@movie) %> </span>
		<li><h1><%= @movie.title %></h1></li>

		<li><p><%= format_average_stars(@movie) %></p></li>

		<li><p><%= @movie.rating %></p></li>
		<li><p><%= @movie.description %></p></li>
		<li><p><%= format_total_gross(@movie) %></p></li>
		<li><p>Released on <%= @movie.released_on %></p></li>
		<li><p><strong>Cast: </strong> <%= @movie.cast %></p></li>
		<li><p><strong>Director:</strong> <%= @movie.director %></p></li>
		<li><p><strong>length: </strong><%= @movie.duration %></p></li>
		<li><p><%= link_to "#{@movie.reviews.count} Reviews", movie_reviews_path(@movie) %></p></li>
		<li><p><%= link_to "Write Review", new_movie_review_path(@movie) %></p></li>
		<br>
		<br>
			<% if @movie.recent_reviews.any? %>
				<% @movie.recent_reviews.each do |review| %>
					<div class="review">
						<ul>
							<li><p> <%= review.name %></p></li>
							<li><p> Stars: <%= review.stars %></p></li>
							<li><p> <%= review.comment %></p></li>		
						</ul>
					</div>
				<% end %>
			<% end %>

	</ul>
</article>
<%= link_to "Edit Movie", edit_movie_path(@movie) %> |
<%= link_to "Delete Movie", movie_path(@movie), method: :delete, 
		                    			  data: {confirm: "Are you sure?"} %>
