<h1>Reviews for <%= link_to @movie.title, movie_path(@movie) %></h1>

<% @reviews.each do |review| %>
	<div class="review">
		<p><%= review.name %></p>
		<p>Stars: <%= review.stars %></p>
		<p><%= review.comment %></p>
		<p><%= review.location %></p>
		<br>

		<%= link_to "delete", [@movie, review], method: :delete, data: {confirm: "Are you sure?"} %>
		<%= link_to "edit", edit_movie_review_path(@movie, review) %>
	</div>
<% end %>